.bg-linear-bisque {
	background: linear-gradient(180deg, #FAF3E6 0%, #F2EADA 100%)
}

.font-sise-26 {
	font-size: 26px;
}

$language-contents: (
  "spanish": "ES",
  "english": "EN"
);

@each $lang, $content in $language-contents {
  .#{$lang} {
    &:before {
      content: "#{$content}";
      border: 1px solid var(--vt-c-indigo);
      font-size: 12px;
      border-radius: 50%;
      padding: 2px;
      position: relative;
      right: 10px;
      top: -3px;
    }
  }
}

.video-close-btn  {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 999;
	background: var(--vt-c-white);
	border: 1px solid var(--vt-c-indigo);
	border-radius: 50%;
	padding: 5px;
	cursor: pointer;
}